@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: 18px; /* minimum body font for elderly users */
}

/* Ensure minimum touch target size */
button,
a,
input[type='checkbox'],
input[type='radio'] {
  min-height: 48px;
  min-width: 48px;
}
